<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="samohina_social" translate="label" sortOrder="10">
            <label>Samohina social</label>
        </tab>
        <section id="samohina_social" translate="label" sortOrder="130"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Samohina Social</label>
            <tab>samohina_social</tab>
            <resource>Samohina_Social::social_config</resource>
            <group id="general" translate="label" type="text"
                   sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration Social</label>
                <field id="enable" translate="label" type="select"
                       sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="persent_social" translate="label" type="text"
                       sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Persent social</label>
                    <comment>Persent</comment>
                </field>
            </group>
        </section>
    </system>
</config>
