<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Block\Html\Title">
        <plugin name="addStringAfterName" type="Samohina\Discount\Plugin\Block\AddString" disabled="true"/>
    </type>
    <type name="Magento\Theme\Block\Html\Title">
        <plugin name="addDiscountMessageAfterName" type="Samohina\Discount\Plugin\Block\AddDiscontMessage" disabled="false"/>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="changePrice" type="Samohina\Discount\Plugin\Model\ChangePrice" disabled="true" />
    </type>
</config>
