<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mypay>
                <payment_action>authorize</payment_action>
                <active>1</active>
                <model>Samohina\MyPay\Model\Payment\MyPay</model>
                <title>mypay</title>
                <order_status>pending</order_status>
            </mypay>
        </payment>
    </default>
</config>
