<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shippay>
            <general>
                <total>100</total>
                <quantity>2</quantity>
            </general>
        </shippay>
    </default>
</config>
