<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

    <type name="Magento\Customer\Model\Metadata\Form">
        <plugin name="middlename_required" type="Samohina\MiddleName\Plugin\DefineField" sortOrder="1"
                disabled="false"/>
    </type>
</config>
